*{
    margin: 0;
    padding: 0;
    box-sizing : border-box;

    scroll-behavior: smooth;
    text-decoration: none;
    
    
}



:root{
    --back-col: #071952;
    --nor-font: 1.2rem;
    --big-font: 1.6rem;
    --col: white;
}

body{
    background-color: var(--back-col);
   
}

.nav-ele .ul-items{
    display: flex;
    padding: 2rem;
}